@page "/channels"
@page "/channels/{Id}"
@attribute [Authorize]
@inject IStringLocalizer<Channel> T
@inject ThemeManager ThemeManager
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject ISnackbar Snackbar
@inject IMessagesClient MessagesClient
@inject IJSRuntime JSRuntime
@implements IDisposable
@using ChatApp.Chat.Messages
@using Microsoft.AspNetCore.Authorization;
@using System.ComponentModel.DataAnnotations

<div class="@(isDarkMode ? "dark" : null)" style="padding-bottom: 150px;">

@foreach (var post in posts)
{
    bool first = IsFirst(post);
    bool last = IsLast(post);

    <Message @key="post.GetHashCode()" Direction="@(post.IsCurrentUser ? MessageDirection.Right : MessageDirection.Left)"
        First=@first Last=@last IsFooterVisible=@last IsSideAreaVisible=@(post.Sender != MyUserId)>
        <SideAreaTemplate>
            @if(first) 
            {
                <MudAvatar Class="mt-2" Size="Size.Small">@post.SenderInitials</MudAvatar>
            }
        </SideAreaTemplate>
        <ChildContent>
             <Bubble>
                @(new MarkupString(post.Content.Replace(Environment.NewLine, "<br />")))

                @if(post.Sender == MyUserId) 
                {
                    if(post.Confirmed) 
                    {
                        <MudIcon Icon="@Icons.Filled.CheckCircle" Size="Size.Small" Class="ms-1" Style="height: 0.8em; top: 3px; position: relative;" />
                    }
                }
            </Bubble>
        </ChildContent>
        
        <FooterTemplate>
            @if(last) 
            {
                <div>
                    <TimeView>
                    @{
                        var published = post.Published;
                        var timeSince = context - published;
                    }
                    @if (timeSince.TotalMinutes < 30)
                    {
                        <small class="time">
                            @if (timeSince.TotalMinutes >= 1)
                            {
                                <text>@T["TimeDisplay", timeSince.Humanize(minUnit: Humanizer.Localisation.TimeUnit.Minute)]</text>
                            }
                            else
                            {
                                <text>@T["Now"]</text>
                            }
                        </small>
                    }
                    else 
                    {
                        <small>@published.ToString("HH:mm")</small>
                    }
                    </TimeView>
                </div>
            }
        </FooterTemplate>
    </Message>   
}

@* <Loader class="my-4" /> *@

    <div class="bottom">
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-0">
            <MudPaper Elevation="35">
                <EditForm OnValidSubmit="Send" Model="@this">
                    <DataAnnotationsValidator />

                     <div class="d-flex flex-grow-1 gap-3">
                        <div class="flex-auto d-flex" style="width: 100%">
                            <MudTextField @bind-Value="Text" For="() => Text" RequiredError="@T["Required"]" aria-label="@T["Message"]" Variant="Variant.Filled" Class="rounded-lg" Lines="2"></MudTextField>
                        </div>
                        <div class="flex-auto d-flex" style="width: 81px">
                            <MudIconButton ButtonType="ButtonType.Submit" aria-label="@T["Send"]" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" Class="mt-2" Style="border-radius: 50%; padding: 15px; height: 70px; width: 70px;" />
                        </div>
                    </div>
                </EditForm>
            </MudPaper>
        </MudContainer>
    </div>

</div>
