@page "/channels"
@page "/channels/{Id}"
@attribute [Authorize]
@inject IStringLocalizer<ChannelPage> T
@inject IThemeManager ThemeManager
@inject NavigationManager NavigationManager
@inject Services.IAccessTokenProvider AccessTokenProvider
@inject Services.ICurrentUserService CurrentUserService
@inject ISnackbar Snackbar
@inject IMessagesClient MessagesClient
@inject IJSRuntime JSRuntime
@implements IDisposable
@using ChatApp.Chat.Messages
@using Microsoft.AspNetCore.Authorization;
@using System.ComponentModel.DataAnnotations

<div class="@(isDarkMode ? "dark" : null)" style="padding-bottom: 150px;">

@foreach (var post in posts.OrderBy(x => x.Published))
{
    bool first = IsFirst(post);
    bool last = IsLast(post);

    var isAuthorizedToDelete = isInAdminRole || post.Sender == myUserId;
    var isAuthorizedToEdit = post.Sender == myUserId;

    <Message @key="post.GetHashCode()" Direction="@(post.IsCurrentUser ? MessageDirection.Right : MessageDirection.Left)"
        First=@first Last=@last IsFooterVisible=@last IsSideAreaVisible=@(post.Sender != myUserId)>
        <SideAreaTemplate>
            @if(first) 
            {
                <MudAvatar Class="mt-2" Size="Size.Small">@post.SenderInitials</MudAvatar>
            }
        </SideAreaTemplate>
        <ChildContent>
             <Bubble>
                @(new MarkupString(post.Content.Replace(Environment.NewLine, "<br />")))

                @if(post.Sender == myUserId) 
                {
                    if(post.Confirmed) 
                    {
                        <MudIcon Icon="@Icons.Filled.CheckCircle" Size="Size.Small" Class="ms-1" Style="height: 0.8em; top: 3px; position: relative;" />
                    }
                }
            </Bubble>
        </ChildContent>
        
        <FooterTemplate>
            @if(last) 
            {
                <div>
                    <TimeView Context="now">
                    @{
                        var published = post.Published;
                        var timeSince = now - published;
                    }
                    @if (timeSince.TotalMinutes < 30)
                    {
                        <small class="time">
                            @if (timeSince.TotalMinutes >= 1)
                            {
                                <text>@T["TimeDisplay", timeSince.Humanize(minUnit: Humanizer.Localisation.TimeUnit.Minute)]</text>
                            }
                            else
                            {
                                <text>@T["Now"]</text>
                            }
                        </small>
                    }
                    else 
                    {
                        <small>@published.ToString("HH:mm")</small>
                    }
                    </TimeView>
                </div>
            }
        </FooterTemplate>

        <ActionsTemplate>
             @* <MudIconButton Icon="@Icons.Filled.Reply" Style="margin-top: -5px; padding: 10px;" Size="Size.Medium" OnClick="() => ReplyToMessage(message)" /> *@
                <MudMenu AnchorOrigin="Origin.BottomLeft">
                    <ActivatorContent>
                        <MudIconButton Style="margin-top: -5px; padding: 10px;" Icon="@Icons.Filled.MoreVert"
                                        Variant="Variant.Text" Color="Color.Secondary" />
                    </ActivatorContent>
                    <ChildContent>
                        @if (isAuthorizedToEdit)
                        {
                            <MudMenuItem OnClick="() => EditMessage(post)">
                                <div class="d-flex flex-row flex-grow-1 gap-2">
                                    <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Medium" />
                                    Edit
                                </div>
                            </MudMenuItem>
                        }
                        @if (isAuthorizedToDelete)
                        {
                            <MudMenuItem OnClick="async () => await DeleteMessage(post)">
                                <div class="d-flex flex-row flex-grow-1 gap-2">
                                    <MudIcon Icon="@Icons.Filled.Delete" Size="Size.Medium" />
                                    Delete
                                </div>
                            </MudMenuItem>
                        }
                        <MudMenuItem>
                            <div class="d-flex flex-row flex-grow-1 gap-2">
                                <MudIcon Icon="@Icons.Filled.Report" Size="Size.Medium" />
                                Report
                            </div>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
        </ActionsTemplate>
    </Message>   
}

@* <Loader class="my-4" /> *@

    <div class="bottom">
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-0">
            <MudPaper Elevation="35">
                <EditForm OnValidSubmit="Send" Model="@this">
                    <DataAnnotationsValidator />

                    @if (editingPostId is not null)
                    {
                        <div class="d-flex flex-grow-1 gap-4">
                            <MudText Typo="Typo.h6">Editing</MudText>
                            <MudIconButton Icon="@Icons.Filled.Cancel" Size="Size.Small" OnClick="AbortEditMessage" />
                        </div>
                    }

                     <div class="d-flex flex-grow-1 gap-3">
                        <div class="flex-auto d-flex" style="width: 100%">
                            <MudTextField @bind-Value="Text" For="() => Text" RequiredError="@T["Required"]" aria-label="@T["Message"]" Variant="Variant.Filled" Class="rounded-lg" Lines="2"></MudTextField>
                        </div>
                        <div class="flex-auto d-flex" style="width: 81px">
                            <MudIconButton ButtonType="ButtonType.Submit" aria-label="@T["Send"]" Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" Class="mt-2" Style="border-radius: 50%; padding: 15px; height: 70px; width: 70px;" />
                        </div>
                    </div>
                </EditForm>
            </MudPaper>
        </MudContainer>
    </div>

</div>
